body {
    margin: 0px;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/*Estilos del header*/

body .header {
    height: 60px;
    width: 100%;
}

body .header .menu{
    display: flex;
    justify-content: flex-end;
}

body .header .menu .menu-right-section {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 30px;
}

body .header .menu .menu-right-section li a {
    color: black;
    margin-right: 10px;
    height: 24px;
}

body .header .menu .menu-right-section .menu-apps img{
    height: 24px;
    width: 24px;
}

body .header .menu .menu-right-section .menu-profile-image img{
    border-radius: 50%;
    margin-right: -50px;

}

/*Estilos Logo*/

body main{
    text-align: center;
}

body main .logo-center{
    margin: 0 auto;
    margin-top: 140px;
    width: 520px;
    margin-bottom: 20px;
}

body main .logo-center img{
    width: 272px;
    height: 90px;
    object-fit: contain;
}

/*Estilos Input Principal*/

body main .input-area{
    /* Espaciado */
    margin: 0 auto;
    width: 580px;
    height: 44px;
    margin-bottom: 30px;
    /*Bordeado*/
    border: 1px solid #e3e5e9;
    border-radius: 24px;
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
}

body main .input-area:hover{
    border-color: #dfe1e5;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

body main .input-area .search-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    width: 14px;
    height: 14px ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body main .input-area input{
    padding: 0px;
    border: none;
    width: 500px;
    height: 44px;
    outline: none;
    padding-left: 15px;
}

body main .input-area .micro-icon{
    width: 20px;
    height: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*Estilos de botones */

main .buttons-area div{
    display: inline-block;
}

main .buttons-area div button{
    width: 160px;
    height: 36px;

    color: #5F6368;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;

    padding: 0 16px;
    margin-right: 8px;
}

main .buttons-area div button:hover{
    cursor:pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-color: #c6c6c6;
}
