body {
    margin: 0px;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/*Estilos del header*/

body .header {
    height: 60px;
    width: 100%;
}

body .header .menu{
    display: flex;
    justify-content: flex-end;
}

body .header .menu .menu-right-section {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 30px;
}

body .header .menu .menu-right-section li a {
    color: black;
    margin-right: 10px;
    height: 24px;
}

body .header .menu .menu-right-section .menu-apps img{
    height: 24px;
    width: 24px;
}

body .header .menu .menu-right-section .menu-profile-image img{
    border-radius: 50%;
    margin-right: -50px;

}

/*Estilos Logo*/

main{
    text-align: center;
}

main .logo-center{
    margin: 0 auto;
    margin-top: 120px;
    width: 520px;
}

main .logo-center img{
    width: 272px;
    height: 90px;
    object-fit: contain;
}

/*Estilos Input Principal*/

main .input-area{
    /* Espaciado */
    margin: 0 auto;
    width: 580px;
    height: 44px;
    /*Bordeado*/
    border: 1px solid #e3e5e9;
    border-radius: 24px;
}

main .input-area:hover{
    border-color: #dfe1e5;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

main .input-area input{
    padding: 0px;
    border: none;
    width: 500px;
    height: 44px;
    outline: none;
}
